body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1520 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1521 {
  position:absolute;
  left:50px;
  top:10px;
  width:800px;
  height:600px;
}
#u1522 {
  position:absolute;
  left:2px;
  top:292px;
  width:796px;
  visibility:hidden;
  white-space:nowrap;
}
#u1523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1523 {
  position:absolute;
  left:198px;
  top:282px;
  width:147px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1524 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1525 {
  position:absolute;
  left:390px;
  top:50px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1526 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u1527 {
  position:absolute;
  left:283px;
  top:375px;
  width:70px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1528 {
  position:absolute;
  left:2px;
  top:21px;
  width:66px;
  word-wrap:break-word;
}
#u1529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:95px;
}
#u1529 {
  position:absolute;
  left:198px;
  top:472px;
  width:103px;
  height:95px;
}
#u1530 {
  position:absolute;
  left:2px;
  top:38px;
  width:99px;
  word-wrap:break-word;
}
#u1531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:70px;
}
#u1531 {
  position:absolute;
  left:703px;
  top:154px;
  width:110px;
  height:70px;
}
#u1532 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u1533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1533 {
  position:absolute;
  left:268px;
  top:159px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1534 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1535 {
  position:absolute;
  left:522px;
  top:159px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1536 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1537 {
  position:absolute;
  left:268px;
  top:272px;
  width:100px;
  height:60px;
}
#u1538 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u1539 {
  position:absolute;
  left:622px;
  top:189px;
  width:0px;
  height:0px;
}
#u1539_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:85px;
  height:8px;
}
#u1539_seg1 {
  position:absolute;
  left:68px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1540 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1541 {
  position:absolute;
  left:318px;
  top:219px;
  width:0px;
  height:0px;
}
#u1541_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u1541_seg1 {
  position:absolute;
  left:-10px;
  top:40px;
  width:20px;
  height:20px;
}
#u1542 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1543 {
  position:absolute;
  left:318px;
  top:332px;
  width:0px;
  height:0px;
}
#u1543_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u1543_seg1 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u1544 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1545 {
  position:absolute;
  left:666px;
  top:487px;
  width:71px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1546 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u1547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1547 {
  position:absolute;
  left:728px;
  top:50px;
  width:61px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1548 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1549 {
  position:absolute;
  left:71px;
  top:272px;
  width:134px;
  height:42px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1550 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u1551 {
  position:absolute;
  left:440px;
  top:110px;
  width:0px;
  height:0px;
}
#u1551_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u1551_seg1 {
  position:absolute;
  left:-126px;
  top:26px;
  width:130px;
  height:8px;
}
#u1551_seg2 {
  position:absolute;
  left:-126px;
  top:26px;
  width:8px;
  height:23px;
}
#u1551_seg3 {
  position:absolute;
  left:-132px;
  top:36px;
  width:20px;
  height:20px;
}
#u1552 {
  position:absolute;
  left:-106px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1553 {
  position:absolute;
  left:572px;
  top:159px;
  width:0px;
  height:0px;
}
#u1553_seg0 {
  position:absolute;
  left:-4px;
  top:-22px;
  width:8px;
  height:22px;
}
#u1553_seg1 {
  position:absolute;
  left:-137px;
  top:-22px;
  width:141px;
  height:8px;
}
#u1553_seg2 {
  position:absolute;
  left:-137px;
  top:-50px;
  width:8px;
  height:36px;
}
#u1553_seg3 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u1554 {
  position:absolute;
  left:-124px;
  top:-26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:95px;
}
#u1555 {
  position:absolute;
  left:337px;
  top:472px;
  width:103px;
  height:95px;
}
#u1556 {
  position:absolute;
  left:2px;
  top:38px;
  width:99px;
  word-wrap:break-word;
}
#u1557 {
  position:absolute;
  left:283px;
  top:405px;
  width:0px;
  height:0px;
}
#u1557_seg0 {
  position:absolute;
  left:-37px;
  top:-4px;
  width:37px;
  height:8px;
}
#u1557_seg1 {
  position:absolute;
  left:-37px;
  top:-4px;
  width:8px;
  height:71px;
}
#u1557_seg2 {
  position:absolute;
  left:-43px;
  top:54px;
  width:20px;
  height:20px;
}
#u1558 {
  position:absolute;
  left:-83px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1559 {
  position:absolute;
  left:353px;
  top:405px;
  width:0px;
  height:0px;
}
#u1559_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u1559_seg1 {
  position:absolute;
  left:32px;
  top:-4px;
  width:8px;
  height:71px;
}
#u1559_seg2 {
  position:absolute;
  left:26px;
  top:54px;
  width:20px;
  height:20px;
}
#u1560 {
  position:absolute;
  left:-14px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1561 {
  position:absolute;
  left:440px;
  top:520px;
  width:0px;
  height:0px;
}
#u1561_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:214px;
  height:8px;
}
#u1561_seg1 {
  position:absolute;
  left:206px;
  top:-50px;
  width:8px;
  height:54px;
}
#u1561_seg2 {
  position:absolute;
  left:206px;
  top:-50px;
  width:116px;
  height:8px;
}
#u1561_seg3 {
  position:absolute;
  left:314px;
  top:-296px;
  width:8px;
  height:254px;
}
#u1561_seg4 {
  position:absolute;
  left:308px;
  top:-303px;
  width:20px;
  height:20px;
}
#u1562 {
  position:absolute;
  left:211px;
  top:-54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
